<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adamapps.muvi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App.CacheApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Tests.MainActivity" />
        <activity android:name=".Tests.LettersActivity" />
        <activity android:name=".Tests.LetterDetail" />
        <activity android:name=".TvShow.SeasonsActivity" />
        <activity android:name=".TvShow.SeasonDetail" />
        <activity
            android:name=".TvShow.VideoPlayer"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize" />
        <activity android:name=".Tests.TestActivity" />
        <activity android:name=".UserModels.FeaturedMovies" />
        <activity android:name=".StartUp.Welcome" />
        <activity android:name=".TvShow.Search" />
        <activity android:name=".TvShow.SeasonActivityTv4" />
        <activity android:name=".TvShow.SeasonDetail4Tv" />
        <activity android:name=".Movie.WebPlayer"
            android:screenOrientation="landscape"/>
        <activity android:name=".Movie.MovieList"></activity>
        <activity android:name=".Movie.SearchMovie" />
        <activity android:name=".StartUp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.Profile" />
        <activity android:name=".User.Recent" />
        <activity android:name=".Tests.TagShow"></activity>
        <activity android:name=".Movie.HDMovie"></activity>
        <activity android:name=".Movie.MovieDetail"></activity>
    </application>

</manifest>