<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adamapps.showbase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.adamapps.showbase.App.CacheApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <service android:name="com.adamapps.showbase.Services.FirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.adamapps.showbase.Services.NotificationService"
            android:enabled="true"
            android:icon="@drawable/ic_launcher" />

        <activity android:name="com.adamapps.showbase.Tests.MainActivity" />
        <activity android:name="com.adamapps.showbase.Tests.LettersActivity" />
        <activity android:name="com.adamapps.showbase.Tests.LetterDetail" />
        <activity android:name="com.adamapps.showbase.TvShow.SeasonsActivity" />
        <activity android:name="com.adamapps.showbase.TvShow.SeasonDetail" />
        <activity
            android:name="com.adamapps.showbase.TvShow.VideoPlayer"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize" />
        <activity android:name="com.adamapps.showbase.Tests.TestActivity" />
        <activity android:name="com.adamapps.showbase.UserModels.FeaturedMovies" />
        <activity android:name="com.adamapps.showbase.StartUp.Welcome" />
        <activity android:name="com.adamapps.showbase.TvShow.Search" />
        <activity android:name="com.adamapps.showbase.TvShow.SeasonActivityTv4" />
        <activity android:name="com.adamapps.showbase.TvShow.SeasonDetail4Tv" />
        <activity android:name="com.adamapps.showbase.TvShow.Show" />
        <activity
            android:name="com.adamapps.showbase.Movie.WebPlayer"
            android:screenOrientation="landscape" />
        <activity android:name="com.adamapps.showbase.Movie.MovieList" />
        <activity android:name="com.adamapps.showbase.Movie.Animation" />
        <activity android:name="com.adamapps.showbase.Movie.SearchMovie" />
        <activity android:name="com.adamapps.showbase.StartUp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.adamapps.showbase.User.Profile" />
        <activity android:name="com.adamapps.showbase.User.Recent" />
        <activity android:name="com.adamapps.showbase.Tests.TagShow" />
        <activity android:name="com.adamapps.showbase.Movie.HDMovie" />
        <activity
            android:name="com.adamapps.showbase.Movie.MovieDetail"
            android:parentActivityName="com.adamapps.showbase.TvShow.Show"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adamapps.showbase.TvShow.Show" />
        </activity>
        <activity android:name="com.adamapps.showbase.Movie.SeeHDList" />
        <activity android:name="com.adamapps.showbase.MovieDetailTest" />
        <activity
            android:name="com.adamapps.showbase.Movie.MovieWebView"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" />
        <activity android:name="com.adamapps.showbase.User.Favorite" />
        <activity android:name="com.adamapps.showbase.User.About" />
        <activity android:name="com.adamapps.showbase.Tests.NewShows" />
        <activity
            android:name="com.adamapps.showbase.WebPlayer.MovieWebviewNew"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="sensorLandscape" />
        <activity android:name="com.adamapps.showbase.StartUp.EmailActivity" />
        <activity android:name="com.adamapps.showbase.User.Host">

        </activity>
    </application>

</manifest>